<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>MyBlog</title>
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link href="css/compiled-4.5.9.min.css" rel="stylesheet">
	<link href="css/style.min.css" rel="stylesheet">
	<link href="css/common.css" rel="stylesheet">
	<link rel="icon" type="./favicon.ico" href="favicon.ico">
</head>
<body lang="ko">
	<div id="bodyMain" class="container wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;" style="min-width: 450px; display:none;">
		<header class="mt-5">
			<section class="card my-blog-header" >
				<div class="background"></div>
				<div class="card-body text-center py-3 px-3 my-3">
					<h1 class="mb-4" style="margin:0px!important;">
						<strong>명월의 개발 일기</strong>
					</h1>
				</div>
				<nav class="navbar navbar-expand-lg navbar-light white menu-nav-tool-blog">
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" id="menuToggler">
						<span class="navbar-toggler-icon"></span>				
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item"><a class="nav-link text-uppercase waves-effect waves-light menu-nav-blog  " data-code="01" href="/BlogEditer/">홈</a></li>
							<li class="nav-item"><a class="nav-link text-uppercase waves-effect waves-light menu-nav-blog active " data-code="02" href="/BlogEditer/DialyList.html">개발일기</a></li>
							<li class="nav-item"><a class="nav-link text-uppercase waves-effect waves-light menu-nav-blog  " data-code="03" href="/BlogEditer/ExperienceList.html">개발경험</a></li>
							<li class="nav-item"><a class="nav-link text-uppercase waves-effect waves-light menu-nav-blog  " data-code="05" href="/BlogEditer/JapanLifeList.html">일본생활</a></li>
							<li class="nav-item"><a class="nav-link text-uppercase waves-effect waves-light menu-nav-blog  " data-code="04" href="/BlogEditer/KoreanLifeList.html">한국생활</a></li>
							<li class="nav-item"><a class="nav-link text-uppercase waves-effect waves-light menu-nav-blog  " data-code="06" href="/BlogEditer/CodingNoteList.html">코딩노트</a></li>
							<li class="nav-item"><a class="nav-link text-uppercase waves-effect waves-light menu-nav-blog  " data-code="07" href="/BlogEditer/FavoritesList.html">즐겨찾기</a></li>
						</ul>
					</div>
				</nav>
			</section>
		</header>
		<main class="mt-5">
			<div class="row mb-3">
				<div class="col-12 d-flex align-items-stretch">
					<div class="card my-blog-post">
						<div class="card-body">
							<h5 class="card-title">
								한글은 이쁘게 잘 나온다... 이걸 같이 쓸일은 없으니깐 각각 폰트에서 사용하자
							</h5>
							<div class="card-text">
								<article>
									본문내용
								</article>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row mt-3 mb-3">
				<div class="col-12 d-flex align-items-stretch">
					<div class="card my-style-custom">
						<div class="card-body my-pre-post-nav">
							<div class="row">
								<div class="col-12 mb-1">
									<a href="http://localhost:8080/BlogEditer/?category=02&post=2"> 
										<span class="my-pre-next-icon"><i class="fa fa-chevron-up"></i>이전글</span>
										teadf
									</a>
									<p class="my-list-date float-right">2018년 11월 06일 13시 43분에 작성된 글...</p>
								</div>
								<div class="col-12 my-blog-line"></div>
								<div class="col-12 mt-1">
									<a href="http://localhost:8080/BlogEditer/?category=02&post=6">
										<span class="my-pre-next-icon"><i class="fa fa-chevron-down"></i>다음글</span>
										한글은 이쁘게 잘 나온다... 이걸 같이 쓸일은 없으니깐 각각 폰트에서 사용하자
									</a>
									<p class="my-list-date float-right">2018년 11월 06일 14시 14분에 작성된 글...</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<fieldset class="box-shadow-0 px-3 py-3 blog-radius mb-3 my-style-custom">
				<legend class="box-shadow-0 blog-legend px-3 blog-radius mb-0">
					<label>최신글</label>
				</legend>
				<ul class="pl-3">
					<li>
						<div class="row">
							<div class="col-12 mb-0">
								<a href="http://localhost:8080/BlogEditer/?category=02&post=7">[홈] asdfasdf </a>
								<p class="my-list-date float-right">2018년 11월 06일 15시 06분에 작성된 글...</p>
							</div>
						</div>
					</li>
					<li>
						<div class="row">
							<div class="col-12 mb-0">
								<a href="http://localhost:8080/BlogEditer/?category=02&post=3">[개발일기] asdfadsfasf </a>
								<p class="my-list-date float-right">2018년 11월 06일 13시 46분에 작성된 글...</p>
							</div>
						</div>
					</li>
					<li>
						<div class="row">
							<div class="col-12 mb-0">
								<a href="http://localhost:8080/BlogEditer/?category=02&post=2">[개발일기] teadf </a>
								<p class="my-list-date float-right">2018년 11월 06일 13시 43분에 작성된 글...</p>
							</div>
						</div>
					</li>
					<li>
						<div class="row">
							<div class="col-12 mb-0">
								<a href="http://localhost:8080/BlogEditer/?category=02&post=1">[개발일기] test </a>
								<p class="my-list-date float-right">2018년 11월 06일 13시 42분에 작성된 글...</p>
							</div>
						</div>
					</li>
				</ul>
			</fieldset>
			<fieldset class="box-shadow-0 px-3 py-3 blog-radius mb-3 my-style-custom">
				<legend class="box-shadow-0 blog-legend px-3 blog-radius">
					<label>댓글 달기</label>
				</legend>
				<div style="text-align: center;">
					<img src="./img/image_fix.png" style="height: 40px">
				</div>
			</fieldset>
		</main>
		<footer class="page-footer text-center font-small mdb-color mt-4 wow fadeIn my-blog-footer">
			<div class="footer-copyright py-1">
				2018 Copyright: <a href="#" target="_blank">www.nowonbun.com </a>
			</div>
		</footer>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="js/compiled-4.5.9.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/popper.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
</body>
</html>